<launch>
  <group ns="scarab" >
    <arg name="map_frame" default="map_hokuyo" />
    <arg name="map_file" default="dop.yaml" />

    <node name="map" pkg="map_server" type="map_server"
	  output="screen" args="$(find scarab)/maps/$(arg map_file)" >
      <param name="frame_id" value="$(arg map_frame)" />
    </node>
  </group>
</launch>
